<h1>Think of an animal...</h1>


<form action="/animalquestion/askquestion" method="get">
  <label><%= @first_question %>  (y or n)</label>
  <input type="submit" name="answer" value="y"/>
  <input type="submit" name="answer" value="n"/>
</form>
