<h1>Answer</h1>

<p>
  You win.  Help me learn from my mistake before you go...
What animal were you thinking of?
</p>

<form action="/answer/showno" method="get">
  <input type="text" name="answeranimal"/>
  <input type="submit"/>
</form>
